.leaflet-container {
  height: 100vh;
  width: 100%;
}

.popup{
&__text{
  font-size: 15px;
  margin-bottom: 10px;
}

&__user-name{
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 600;
  
}
&__date{
  color: rgba(0,0,0,0.45);
  font-size: 11px;
}
&__footer{
  justify-content: space-between;
  display: flex;
  align-items: center;
}
&__delete{
  cursor: pointer;
  font-size: 20px;
}
}
.leaflet-control-attribution{
  display: none;
}