.form-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  background-image: url('../../images/ДМЗ_016.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
  }

  h3 {
    z-index: 1;
    color: #efc034;
    font-size: 40px;
  }

  .ant-form {
    width: 35%;

    @media screen and (max-width: 764px) {
      width: 50%;
    }

    @media screen and (max-width: 484px) {
      width: 100%;
    }
  }

  .ant-btn {
    width: 100%;
    font-weight: 700;
    background: #efc034;
    color: black;
  }

  &__error {
    margin-top: 10px;
    color: red;
  }
}