.header{
    position: absolute;
    z-index: 450;
    right: 50px;
    top: 20px;
    display: flex;
    align-items: center;

    &__info.ant-avatar{
            cursor: pointer;
            margin-right: 20px;
            background-color: #87d068; 
        }
        
      
    
    &__dropdown{
       cursor: pointer; 
    }
    &__username{
        font-size: 20px;
    }
    &__menu{
        .ant-dropdown-menu-item{
            font-size: 20px;
            padding: 20px;
            font-weight: 600;
        }
    }
}